@import url('http://fonts.googleapis.com/css?family=Lobster&subset=all');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#root {
  background-color: #fff;
  height: 100%;  
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


/* My Reads custom layout */


/* header */
.header {
  background-color: #14d0d6;
  font: bold 40px 'Lobster';
  color: #fff;
  padding: 16px;
  margin: 0;
  text-align: center;
}

/* body */
#search .wrapper {
  display: block;
}

#search .book {
  display: inline-block;
}

.wrapper {
  column-count: 4;
  column-width: 150px;
  width: 100%;
  overflow: auto;
  padding: 16px 0;
  display: inline-flex;
}

.book {
  break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  width: 150px;
  height: 300px;
  max-height: 400px;
}

.book:hover{
	background-color: #EFEFEF;
}
 
.book img {
  border-radius: 3px;
  width: 100px;
  height: 150px;
  margin-bottom: 5px;
}
 
.book p {
  font: 12px Arial;
  font-weight: bold;
  color: #555555;
  margin: 15px 0 0 0;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  text-align: none;
  word-wrap: break-word;
}

.book small {
  font: 11px Arial;
  color: #555555;
  margin: 0;
}

.book select {
  -webkit-appearance:none;
  -moz-appearance:none;
  background-color: #14d0d6;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  outline: none;
}

.content-body {
  padding: 16px;
}

.content-title {
  color: #777;
  font: bold 20px 'Lobster';  
  border-bottom: 2px dotted #ccc;
  margin-bottom: 16px;
  padding: 10px; 
}

.to-search {
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 0;
  position: fixed;
  right: 15px;
  bottom: 10px;
}

.to-home {
  background-image: url("./icons/arrow-back.svg");
  background-repeat: no-repeat;  
  position: absolute;
  width: 35px;
  height: 35px;
  top: 18px;
  left: 10px;
}

.search-books {
  font-size: 24px;
  outline: 0;
  width: 100%;
  padding: 20px 20px 20px 60px;
}
